@CHARSET "ISO-8859-1";



#topic_input {
	
	padding: 20px 25px 15px 15px;
	
}


html {
	
	margin: 0 auto;
	
	min-width: 90%;
	
}

#heading_topic {
	
	max-width: 90%;
	min-width: 90%;
	
}

.button_image {
		 
	 width: 50px;
	 height: 50px;
	
}

#lbl_logo {
	
	padding: 15px 15px 15px 15px;
	
}

#disconnect {

	width: 100px;
	height: 30px;
}

#logo_image {
	
	width: 125px;
	height: 125px;
	
}


#output_lang {
	
	padding: 10px 25px 25px 0px;
	min-width: 40%;
	
}

#level_of_detail {
	
	padding: 10px 25px 25px 0px;
	min-width: 40%;
	
}

#continue_loader_play {
	
	padding: 10px 10px 10px 10px;
	
}


#startover_pause_stop {

	padding: 10px 10px 10px 10px;
	
}



#time_feedback{

	padding: 10px 25px 25px 25px;
	
}

#gConnect {
	
	padding: 20px 25px 25px 25px;
	
}

#logo_signin {
	
	padding: 120px 25px 25px 25px;
	
}

.centered_button
{
	text-align:center;
	margin:auto;
	padding: 120px 25px 25px 25px;
}


.lbl_input_btn{
	padding: 10px 25px 25px 0px;
}

#lbl_heading{
	padding: 0px 0px 0px 15px;
}

#sign_out_btn {
	
	padding: 50px 5px 5px 5px;
	
}

#welcome_msg{
/*   position: relative; */
/*   top: 50%; */
/*   transform: translateY(40%); */
}

#heading_topic{
	padding: 10px 0px 25px 0px;
}
