@CHARSET "UTF-8";

#visualContainer {
	min-width: 300px;
	max-width: 600px;
	height: 310px;
	
/* 	Aligns the treemap centered */
	/* 	margin: 0 auto; */
}


#div1 {
	width:150px;
	height:70px;
	padding:10px;
	border:1px solid #aaaaaa;
	}

#div2 {
	width:150px;
	height:70px;
	padding:10px;
	border:1px solid #aaaaaa;
	}